@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700");

@import 'print';
@import 'poole';
@import 'syntax';
@import 'hyde';

:root {
  --font-size-base: 16px;
  --font-family-prose: "PT Sans", Helvetica, Arial, sans-serif;
  --font-family-title: "Abril Fatface", serif;
}
