@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700");

$width-sm: 30em;
$width-md: 48em;
$width-lg: 58em;
$width-xl: 64em;

// via https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
$breakpoints: (
  'sm': 30em,
  'md': 48em,
  'lg': 58em,
  'xl': 64em
) !default;

@mixin from-width($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn("No `#{$breakpoint}` value.");
  }
}

@import 'print';
@import 'poole';
@import 'syntax';
@import 'hyde';

:root {
  --font-size-base: 16px;
  --font-family-prose: "PT Sans", Helvetica, Arial, sans-serif;
  --font-family-title: "Abril Fatface", serif;
  --font-family-code: Menlo, Monaco, "Courier New", monospace;
}
