{{ define "main" -}}
  {{- $paginator := .Paginate .Data.Pages -}}
  {{ template "_internal/pagination.html" . }}
  <ul class="posts h-feed">
    {{ range $paginator.Pages -}}
      <li>
        <span class="h-entry">
          <a href="{{ .Permalink }}" class="p-name u-url">{{ .Title }}</a>
          <time
            class="pull-right post-list dt-published"
            datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
          by <a href="https://randomgeekery.org" class="h-card p-author">Brian Wisti</a>
        </span>
      </li>
    {{- end }}
  </ul>
{{- end }}
