{{ define "main" -}}
  <nav class="breadcrumb">
    <a href="/">Home</a>
    / <a href="/posts/">Posts</a>
    / <span class="p-name">{{ .Title }}</span>
  </nav>
  <div class="post h-entry">
    <section class="e-content">
      {{ .Content }}
    </section>
    {{ partial "entry-footer" . }}
  </div>

  <script src="https://utteranc.es/client.js"
        repo="brianwisti/rg-life"
        issue-term="url"
        label="comment"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
  </script>
{{- end }}
